h2 {
  color: #eaac7f;
  display: inline-block;
  margin-right: 15px;
  font-size: 40px;
}

body {
  border: 8px solid;
  color: rgb(91, 87, 87);
  height: 510px;
  width: 700px;
  text-align: left;
  margin-left: 100px;
  margin-top: 50px;
  position: relative;
}

i {
  font-size: 70px;
  color: #707070;
  display: inline-block;
  padding-top: 10px;
  margin-left: 20px;
  margin-bottom: 40px;
}
.searchButton {
  display: inline-block;
}

#city-input {
  margin: 70px 0px 0px;
  width: 300px;
  margin-top: 30px;
}

.todayTime {
  color: #8c8c8c;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 5px;
}

#degrees {
  display: inline-block;
  text-align: center;
  color: #8c8c8c;
  font-size: 40px;
  margin-left: 15px;
  margin-bottom: 5px;
}

#seperator {
  display: inline-block;
  text-align: center;
  color: #8c8c8c;
  font-size: 10px;
  margin-left: 1px;
  margin-bottom: 1px;
}

#celsius {
  display: inline-block;
  text-align: center;
  color: #8c8c8c;
  font-size: 10px;
  margin-left: 10px;
  margin-bottom: 0px;
}

#farenheit {
  display: inline-block;
  text-align: center;
  color: #8c8c8c;
  font-size: 10px;
  margin-left: 1px;
  margin-bottom: 5px;
}

#open-source {
  text-align: left;
  display: inline-block;
  margin-top: 20px;
  font-size: 15px;
  color: black;
}

.todayForecast {
  color: #8c8c8c;
  font-size: 15px;
  margin-left: 75px;
  display: inline-block;
  margin-bottom: 40px;
}

.col {
  text-align: center;
  color: #8c8c8c;
  position: relative;
  margin-top: 10px;
  font-weight: 7px;
}
