h2 {
  color: #eaac7f;
  display: inline-block;
  margin-right: 15px;
  font-size: 40px;
}

ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;

  color: #8c8c8c;
  font-weight: 7px;
  line-height: 20px;
  margin: 0px 190px 1px 190px;
  float: left;
  width: 100%;
}

li:first-letter {
  text-transform: capitalize;
}

.current-condition {
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -50px;
}

.weather-app-wrapper {
  max-width: 800px;
  margin: 20px auto;
}

.weather-app {
  color: rgb(91, 87, 87);
  border: 8px solid;
  color: rgb(91, 87, 87);
  padding: 30px;
  position: relative;
}

.overview {
  margin-bottom: 20px;
}

.weather-temprature {
  height: 70px;
  width: 100px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.today-forecast strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
  margin-left: -15px;
  margin-right: -60px;
  margin-top: -100px;
  float: right;
}

#celsius {
  position: relative;
  font-size: 16px;
  top: -34px;
  float: right;
  margin-top: -60px;
  margin-right: -80px;
}

#farenheit {
  position: relative;
  font-size: 16px;
  top: -34px;
  float: right;
  margin-top: -60px;
  margin-right: -110px;
}

#seperator {
  position: relative;
  font-size: 16px;
  top: -34px;
  float: right;
  margin-top: -60px;
  margin-right: -90px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 10px;
}

.weather-forecast h3 {
  color: rgb(91, 87, 87);
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 60px;
  width: 60px;
}

.weather-forecast-temperature {
  color: rgb(135, 135, 135);
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}
.searchButton {
  display: inline-block;
}
.active {
  color: black;
  cursor: default;
  text-decoration: none;
}
.col-4 {
  display: inline-block;
}

#condition {
  text-transform: capitalize;
}
#city-input {
  margin: 70px 0px 0px;
  width: 300px;
  margin-top: 30px;
}

#open-source {
  margin-right: -90px;
}
